header {
    background-color: rgb(50, 50, 50);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    margin-right: 1.3em;
    font-size: 1.5em;
}